.page-holder {
    min-height: 100vh;
    min-width: 100vw;
}

.bg-cover {
    background-size: cover !important;
}

.masthead {
    background-image: url("/assets/img/image1.jpg");
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}