.page-holder {
    min-height: 100vh;
    min-width: 100vw;
  }
  
  .bg-cover {
    background-size: cover !important;
  }

 

  #background{
    background-image: url("/assets/img/image1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }


  

