.masthead {
    background-image: url("/assets/img/image6.jpg");
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#donateBtn {
    margin-left: auto;
    margin-right: auto;
}