h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page-holder {
    min-height: 100vh;
    min-width: 100vw;
}

.bg-success {
    background: transparent !important;
}

.masthead {
    background-image: url("/assets/img/image9.jpg");
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}